*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 10px;
}

.container {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  max-width: 1286px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #ffffff;
}

.header__inner {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header__title {
  color: #292d32;
  font-size: 3.2rem;
  font-weight: 600;
}

.header__form {
  width: 100%;
  max-width: 46.9rem;
}

.todo-form {
  display: flex;
  gap: 1.1rem;
}

.todo-form__input {
  width: 70%;
  padding: 1.2rem;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  background: #fff;
  color: #292d32;
  font-size: 1.4rem;
  font-weight: 400;
}

/* .todo-form__input:valid + .todo-form__button {
  color: #3257fb;
}

.todo-form__input:valid + .todo-form__button > .todo-form__img {
  fill: #3257fb;
} */

.todo-form__button.active {
  color: #3257fb;
}

.active > .todo-form__img {
  fill: #3257fb;
}

.todo-form__input:hover {
  border-color: #8a8e97;
}

.todo-form__input:focus {
  outline: 2px solid #d7dcff;
}

.todo-form__input:active {
  outline: none;
  border-color: #3257fb;
}

.todo-form__input::placeholder {
  color: #c4c4c4;
  font-size: 1.4rem;
  font-weight: 400;
}

.todo-form__button {
  background-color: #ffffff00;
  display: inline-flex;
  padding: 3px 2px 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
  border: 2px solid #d7dcff00;
  color: #c4c4c4;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.todo-form__img {
  width: 16px;
  height: 17px;
  fill: #c4c4c4;
}

.main {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 14.2rem;
  background-color: #efefef;
}

.main__inner {
  max-width: 79.9rem;
  width: 100%;
}

.main__title {
  color: #6a6e74;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  padding-left: 2.4rem;
}

.main__list {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.list__item {
  text-decoration: none;
  color: #292d32;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 8px;
  background: #fff;
  padding: 1.4rem 2.4rem 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
}

.list__item:hover {
  background: #f2f3fd;
}

.list__item.new {
  background-color: #ecfffa;
}

/* .list__item.active {
  background-color: #d7dcff;
} */

.list__item.active .list__text {
  text-decoration-line: line-through;
}

.list__text {
  display: block;
  max-width: 80%;
  overflow: hidden;
}

.list__checkbox-label {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 65px;
  width: 20px;
  height: 20px;
}

.list__checkbox-input {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: -2;
  outline: none;
}

.list__checkbox-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.list__checkbox-icon {
  width: 14px;
  height: 14px;
  fill: #ffffff;
  opacity: 0;
}

.list__checkbox-input:checked + .list__checkbox-button {
  background-color: #3257fb;
  border-color: #3257fb;
}

.list__checkbox-input:checked + .list__checkbox-button .list__checkbox-icon {
  background-color: #3257fb;
  border-color: #3257fb;
  opacity: 1;
}

.list__delete-button {
  position: absolute;
  right: 24px;
  top: 10px;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
}

.list__delete-button:hover .list__delete-icon {
  fill: #3257fb;
}

.list__delete-icon {
  width: 24px;
  height: 24px;
  fill: #6a6e74;

  /* на цьому ел тепер не спрацьовує подія слухач; і ховер теж тому вішаємо його через кнопку батьківську а не саму іконку  */
  pointer-events: none;
}

/* .list__delete-icon:hover {
  fill: #3257fb;
} */

.popup__back {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: #1d28465e;
  display: none;
}

.popup {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__card {
  position: absolute;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(169, 173, 187, 0.15);
  display: inline-flex;
  min-width: 28.8rem;
  padding: 16px 16px 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__title {
  color: #292d32;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 3.2rem;
}

.popup__buttons {
  display: inline-flex;
  gap: 1.6rem;
}

.popup__button {
  display: flex;
  width: 80px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #3257fb;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.popup__button--white {
  background-color: #fff;
  color: #3257fb;
}

.popup__button--blue {
  background-color: #3257fb;
  color: #fff;
}

.popup__button-close {
  align-self: end;
  border: none;
  background-color: #ffffff00;
  padding: 0;
  cursor: pointer;
}

.popup__img-close {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  pointer-events: none;
}
